/* screen */

.app_inner {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 880px;
  padding: 0 2rem;
  margin: auto;
  background-color: #eaeef3;
  border-radius: 30px;
  border: 10px solid #000;
  outline: 1px solid #aaa;
}

@media only screen and (min-width: 800px) {
  .app_inner {
    max-width: 430px;
  }
}
@media only screen and (max-width: 800px) {
  .app_inner {
    border-radius: 0px;
    border: none;
    outline: none;
    height: 100vh;
  }
}

/* title & pnp */

.app_main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.app_img {
  width: 100px;
  height: auto;
  margin: 25px;
}

.app_title {
  color: #000;
  text-align: center;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
}

/* button */

.app_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app_reportbtn {
  width: 240px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background: linear-gradient(92deg, #ff5757 0%, #ff8267 100%);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  margin-bottom: 20px;
  cursor: pointer;
}

.app_loginbtn {
  width: 240px;
  height: 50px;
  flex-shrink: 0;
  border-radius: 5px;
  border: none;
  background: linear-gradient(92deg, #3c88ff 0%, #3cadff 100%);
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.1);
  text-align: center;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  cursor: pointer;
}
